@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Navbar */

.navbar{
  margin-top: 4vh;
  border-radius: 5px;
  color:black;
  font-weight:500;
  font-size: 1rem;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  }
  .navbar-toggler{
    outline: none;
    border: none;
  }

  #navbarDropdown{
    color: black;
    font-weight: 500;
  }


/*Home*/

  .getservice-btn {
    width: 20vw;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .getservice-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
  }
.techcare{
  color: aqua;
}

.img-fluid-animated{
  margin-left: -40px;
}
/*Home*/



  /* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
   
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:black;
}
#footer a {
    color: black;
    text-decoration: none !important;
    background-color: transparent;
    transition: color 0.5s ease-in-out;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	/* -webkit-transition: .5s all ease-out;
	-moz-transition: .5s all ease-out;*/
	transition: .5s all ease-out; 
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;

}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:black;
  transition: color 0.5s ease-in-out;
}
#footer ul.social li :hover{
	color:aqua;
  transition: color 0.5s ease-in-out;
}
#footer ul.quick-links li{
	padding: 3px 0;
	transition: color 0.5s ease-in-out;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:500;
  transition: color 0.5s ease-in-out;
}



@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
 /* Footer */

 /* carousel */
#carouselExampleInterval{
 margin-top: -4vw;
 margin-bottom: 7vh;
}


.text-block{
  display: block;
  width:40vw;
 margin-bottom: 0;
  margin-left: 20vw;
  }
.carousel-btns {
  color: black;
  display: inline-block;
 padding-left: 8px;
 padding-right: 8px;
 padding-top: 5px;
  width:fit-content;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  height:5vh;
  margin-top: 2vh;
  border-radius: 10px;
 font-weight: 500;
  background: linear-gradient(
    90deg,
   orange 0%,
    orangered 100%
  );
  outline:none;
  text-decoration:none;
}
.carousel-btns:hover {
 color: white;
}
/* carousel */

/* Block2*/
.card-group{
  margin-top: 50px;
  margin-bottom: 5vh;
}
.getservicetext{
  color: #039dfc;  
  font-weight: 500;
  text-decoration: none;
  outline: none;
 
}
/* Block2*/

.contact-img{
  margin-left: -120px;
}

